#Header1{
    margin-right:3rem
}
#navbar{
    background-color: black;
    color: white;
}
.Header2{
    color: white;
    background-color: black;
}
.slideout-overlay .gp-icon.pro-close, .slideout-navigation .dropdown-menu-toggle {
    color: 'white';
}
#Header3{
    background: linear-gradient(to bottom right, #EABF40 0%, #FF0000 100%);
    border: none;
    border-radius: 4rem;
    min-width: 5rem;
    transition: 1s;
}
#Header3:hover{
    background: linear-gradient(to bottom left, #EABF40 0%, #FF0000 100%);
    border: none;
    border-radius: 4rem;
    min-width: 6rem;
    transform: (1.15);
    transition: transform 1s ease-in-out all;
}

#Header4{
    background: linear-gradient(to top right, #FF0000 0%, #FE5B00 100%);
    border: none;
    border-radius: 4rem;
    min-width: 4rem;
    transition: 1s;
}
#Header4:hover{
    background: linear-gradient(to top left, #FE5B00 0%, #EABF40  100%);
    border: none;
    border-radius: 4rem;
    min-width: 6rem;
    transform: (1.15);
    transition: transform 1s ease-in-out all;
}