#footer1 {
    padding: 2.5rem;
    color: white;
   ily: "Raleway";
   margin-top: 2rem;
   position:relative;
   bottom: 0;
  }
  #footer2 {
    margin-top: 0.5rem;
    cursor: pointer;
   font-family: "Raleway";
  }
  #footer2:hover {
    color: #ff5e14;
    transition: all 1.3s ease;
  }
  #footer3 {
    margin-top: 2rem;
   font-family: "Raleway";
    margin-left: 1rem;
  }
  #footer4 {
   font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 42px;
    color: #ff5e14;
  }
  #footer6 {
   font-family: "Raleway";
    background-color: white;
    color: black;
    border-radius: 100%;
    padding: 0.2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #footer6:hover {
    background-color: #ff5e14;
    transition: all 1.3s ease;
  }
  #footer5 {
    display: flex;
    gap: 0.7rem;
    margin-left: -0.5rem;
    margin-top: 1rem;
   font-family: "Raleway";
  }
  #footer7 {
    width: 15rem;
    height: 5.44rem;
    font-family: "Raleway";
    margin-bottom: 0.5rem;
    border-radius: 3rem
  }
  #footer8 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    color: white;
   font-family: "Raleway";
  }
  #footer9 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
   font-family: "Raleway";
    z-index: 10;
  }
  #footer6:hover {
    color: #ff5e14;
    transition: all 1.3s ease;
  }
  #footer10 {
    text-decoration: none;
    color: white;
    margin-left: -0.5rem;
   font-family: "Raleway";
  }
  #footer10:hover {
    color: #ff5e14;
    transition: all 1.3s ease;
  }
  #footer11 {
    /* width: 10rem; */
    width: 10rem;
    /* height: auto; */
  }
  #footer15 {
    width: max-content;
    height: 25vh;
    border-radius: 10%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.3rem;
  }
  #footer12 {
    color: white;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.15rem;
  }
  #footer12:hover {
    color: #ff5e14;
    transition: all 1.3s ease;
  }
  
  .backgroundFooter {
    background-color: #000000;
  }
  
  .backgroundGreenFooter {
    background-color: #3a3a3a;
  }
  .greenfooterbelowdiv {
    background-color: #838383;
  }
  .footerbelowdiv {
    background-color: #252525;
  }
  #mailStoneDiv{
    background: transparent;
      border-radius: 4rem;
      width: 17rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 0.3rem;
      margin-left: -2rem;
      /* margin-top: 0.8rem; */
  }
  #footer13{
    margin-top: 2.7rem;
   font-family: "Raleway";
    padding-left: 1rem;
  }
  #footer14{
    margin-left: 1rem;
  }
  
  @media only screen and (max-width: 600px) {
    #mailStoneDiv{
        margin-left: 0rem;
        margin-top: 0rem;
    }
    #footer13{
      margin-top: 2rem;
     font-family: "Raleway";
      padding-left: 0rem;
    }
    #footer3 {
      margin-top: 2rem;
     font-family: "Raleway";
      margin-left: 0rem;
    }
    #footer14{
      margin-left: 0rem;
    }
  }
  @media only screen and (max-width: 900px) {
    #mailStoneDiv{
        margin-left: 0rem;
        margin-top: 0rem;
    }
    #footer13{
      margin-top: 2rem;
     font-family: "Raleway";
      padding-left: 0rem;
    }
    #footer3 {
      margin-top: 2rem;
     font-family: "Raleway";
      margin-left: 0rem;
    }
    #footer14{
      margin-left: 0rem;
    }
  }