#about1{
    color:#CF3A30;
    font-family:'Raleway' ;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}
#about2{
    text-align: justify;
    padding: 2rem;
}
#about3{
    display: flex;
    justify-content: center;
}